html {
    background-color: rgb(61, 61, 61);
    color: antiquewhite;
}

p {
    margin: 4px 4px 4px 4px;
}

ul {
    list-style: none;
    padding-left: 10px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.column {
    height: 25px;
    margin: 0;
}

.stone {
    margin: 0;
}

.users, .chat, .userList {
    border: 2px solid antiquewhite;
    box-sizing: border-box;
}

.users {
    width: 100%;
    height: calc(100vh - 620px);

    display: grid;
    grid-template-columns: 150px 1fr;
}

.userList {
    height: 100%;
}

#userList {
    position: absolute;
    
}

.wrapList {
    overflow-y: scroll;
    position: relative;
    margin: 0;
}

#user {
    height: calc(100% - 50px);
}

#chat {
    height: calc(100% - 100px);
}

.chat {
    position: relative;
    height: 100%;
}

#chatList {
    
    position: absolute;
    height: calc(100% - 100px);
}

#inputChat {
    width: 100%;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    padding-right: 8px;
}

#container > input {
    margin: 8px;
    border-radius: 32px;
}

ul > li {
    list-style: none;
}

button {
    border: 3px solid antiquewhite;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    background-color: rgb(61, 61, 61);
    color: antiquewhite;
    margin: 10px;
}